# 01b Create ESQL Schemas

In [1]:
import psycopg2
import urlparse

In [2]:
DATABASE_URL= r"postgres://zpptclkw:_mnlCBXoH7PlxS6vGLC0lYfn3gEw5rpY@qdjjtnkv.db.elephantsql.com:5432/zpptclkw"
urlparse.uses_netloc.append("postgres")
url = urlparse.urlparse(DATABASE_URL)

connpg = psycopg2.connect(database=url.path[1:],
  user=url.username,
  password=url.password,
  host=url.hostname,
  port=url.port
)

In [3]:
curpg = connpg.cursor()
    #cur.execute("CREATE TABLE  (id serial PRIMARY KEY, num integer, data varchar);")
    #cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)", (100, "abc'def"))
curpg.execute('''DROP TABLE IF EXISTS vPrice   ''')
    #curpg.execute('''DROP TABLE vPrice   ''')
curpg.execute('''CREATE TABLE IF NOT EXISTS vPrice  ( vPriceId serial PRIMARY KEY, date timestamp, symbol text, price real)''')
    #curpg.execute('''CREATE TABLE IF NOT EXISTS vPrice  (  date timestamp, symbol text, price real)''')


    #sql = "INSERT INTO vPrice (date, symbol, price) VALUES ('2015-06-10 22:38:23.861756','GBPUSD',1.57)"
    #       INSERT INTO vPrice (date, symbol, price) VALUES ('2015-06-10 22:38:33.269950','GBPUSD',1.57)
    #curpg.execute(sql)

#sql = "INSERT INTO vPrice (date, symbol, price) VALUES ('2015-06-10 22:38:35.493231','GBPUSD',1.57)"
#curpg.execute(sql)

curpg.execute("SELECT * FROM vPrice;")
print curpg.fetchall()


    
    
connpg.commit()
curpg.close()
#connpg.close()

[]

In [4]:
connpg.close()

In [5]:

conn = sqlite3.connect(view_db)
c  = conn.cursor()
c.execute('''DROP TABLE IF EXISTS vPrice   ''')
c.execute('''CREATE TABLE IF NOT EXISTS vPrice  ( vPriceId INTEGER PRIMARY KEY, date timestamp, symbol text, price real)''')
conn.commit()
conn.close()

NameError: name 'sqlite3' is not defined