# View

In [4]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import datetime

In [5]:
view_db = 'view.db'

In [6]:
fig1 = plt.figure()
fig1.suptitle('GBP/USD price')
fig1.autofmt_xdate()

ax1 = fig1.add_subplot(1,1,1)

def animate1(i):
    print i
    
    data = []
    x = []
    y = []
    conn = sqlite3.connect(view_db, detect_types=sqlite3.PARSE_COLNAMES)
    c = conn.cursor()
    #df = pd.read_sql("SELECT count(*), status from iPrice group by status",conn) #,conn,parse_dates={'date':'%Y-%m-%d'})
    results = c.execute('SELECT  date as "[timestamp]", price from vPrice ') 
    #print results
    for row in results:
        print row[0], row[1]
        print type(row[0])
        d = row[0]
        #dt = datetime.datetime.strptime(d, '%Y-%m-%d %H:%M:%S.%fZ')
        
        x.append(row[0])
        y.append(row[1])
    conn.close()

    ax1.clear()
    ax1.plot(x,y)
    ax1.legend(loc='upper left')


    
ani1 = animation.FuncAnimation(fig1,animate1, interval=1000)
plt.show()

0
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
0
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
1
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
2
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
3
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
4
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
5
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
6
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
7
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
8
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
9
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
10
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
11
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
12
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
13
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
14
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
15
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>
16
2015-05-20 21:51:35.769710 1.55365
<type 'datetime.datetime'>
2015-05-20 21:51:42.956241 1.5535
<type 'datetime.datetime'>
2015-05-20 21:51:50.253742 1.55355
<type 'datetime.datetime'>

/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/matplotlib/axes.py:4747: UserWarning: No labeled objects found. Use label='...' kwarg on individual plots.
  warnings.warn("No labeled objects found. "